.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.btn {
    margin-bottom: 10px;
    width: 30%;
    color: white;
    background-color: pink;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &.active {
        background-color: lightblue;
    }
}