.login-form {
    display: flex;
    flex-direction: column;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 50%;
    border: 1px solid lightgray;
    margin-left: 3px;
}